.greenpara{
    background-color: aqua;}
.greenpara{
    background-color: aqua;}
.pinkpara{
    background-color: blueviolet;}
.pinkpara{
    background-color: blueviolet;}
.greenpara{
    background-color: aqua;
    }
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color: aqua;
}
.greenpara{
    background-color:aqua;
}
.greenpara{
    background-color: aqua;
}
.pinkpara{
    background-color: blueviolet;
}
.pinkpara{
    background-color: blueviolet;
}
.pinkpara{
    background-color: blueviolet;
}
.pinkpara{
    background-color: blueviolet;
}
.redpara{
    background-color: brown;
}
.redpara{
    background-color: brown;
}
.redpara{
    background-color: brown;
}
.redpara{
    background-color: brown;
}
.yellowpara{
    background-color: darkgoldenrod;
}
.yellowpara{
    background-color: darkgoldenrod;
.yellow{
    background-color: darkgoldenrod;
}
.yellowpara{
    background-color: darkgoldenrod;
}
 .yellowpara{
    background-color: darkgoldenrod;
 }   
.yellowpara{
    background-color: darkgoldenrod;
}
.yellowpara{
    background-color: darkgoldenrod;
}
.yellowpara{
    background-color: darkgoldenrod;
}
.redpara{
          background-color: brown
}
.pinkpara{
    background-color: rgb(142, 27, 27);
}
.bpara{
    background-color: rgb(66, 72, 149);
}
.spara{
    background-color: rgb(142, 27, 27)

}
.yellowpara{
    background-color: chocolate

}
.dgreenpara{
    background-color: rgb(2, 39, 2);
}
.bluepara {
background-color: aqua;
}


}











